<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gunner.gunner">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permisssion.ACCESS_COARSE_LOCATION" />

    <application
        android:launchMode = "singleTop"
        android:allowBackup="true"
        android:icon="@mipmap/solvei"
        android:label="ServPro"
        android:roundIcon="@mipmap/ideas"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        >
        <activity android:name=".chat.Chat"></activity>
        <activity android:name=".accountconfirmation.ConfirmationCode"></activity>
        <activity android:name=".WelcomeWindow" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".chat.UserConversationsClass"></activity>
        <activity android:name=".reviews.AddComment"></activity>
        <activity android:name=".FindInDatabase"></activity>
        <activity android:name=".ProfileUser"></activity>
        <activity android:name=".signup.SignUp"
            android:taskAffinity="com.some.new" >

        </activity>
        <activity android:name=".login.LogIn"></activity>
        <activity android:name=".rubros.electricistas.Electricidad">
        </activity>
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".signup.SignUpProveedor"></activity>
        <service android:name=".chat.DescargarConversacionesDeUsuario"></service>
        <service android:name=".login.LogInService"></service>
        <service android:name=".chat.ChatInteraction"></service>
        <service
            android:name=".background.DownloadStuffInBackground"
            android:exported="false"/>
<service android:name=".signup.SignUpService"></service>
        <service android:name=".background.KeepEverythingUpdated"></service>
            </application>

</manifest>